<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <springProperty scope="context" name="EARNINGS_LOG_FILE" source="logging.cronjob.files.earnings" defaultValue="logs/earnings.log" />
    <springProperty scope="context" name="DAYEVENT_STOCK_DATA_LOG_FILE" source="logging.cronjob.files.dayeventStockData" defaultValue="logs/dayevent-stock-data.log" />
    <springProperty scope="context" name="DAYEVENT_CLEANUP_LOG_FILE" source="logging.cronjob.files.dayEventCleanupDuplilcate" defaultValue="logs/dayevent-cleanup-duplicate.log" />
    <springProperty scope="context" name="EVERY_DAY_EVENT_LOG_FILE" source="logging.cronjob.files.everyDayEvent" defaultValue="logs/every-day-event.log" />
    <springProperty scope="context" name="WEEKLY_UPCOMING_EARNINGS_LOG_FILE" source="logging.cronjob.files.weeklyUpcomingEarning" defaultValue="logs/weekly-upcoming-earnings.log" />

    <appender name="EARNINGS_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${EARNINGS_LOG_FILE}</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${EARNINGS_LOG_FILE}.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>14</maxHistory>
            <totalSizeCap>200MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="DAYEVENT_STOCK_DATA_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${DAYEVENT_STOCK_DATA_LOG_FILE}</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${DAYEVENT_STOCK_DATA_LOG_FILE}.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>14</maxHistory>
            <totalSizeCap>200MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="DAYEVENT_CLEANUP_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${DAYEVENT_CLEANUP_LOG_FILE}</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${DAYEVENT_CLEANUP_LOG_FILE}.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>14</maxHistory>
            <totalSizeCap>200MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="EVERY_DAY_EVENT_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${EVERY_DAY_EVENT_LOG_FILE}</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${EVERY_DAY_EVENT_LOG_FILE}.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>14</maxHistory>
            <totalSizeCap>200MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="WEEKLY_UPCOMING_EARNINGS_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${WEEKLY_UPCOMING_EARNINGS_LOG_FILE}</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${WEEKLY_UPCOMING_EARNINGS_LOG_FILE}.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>14</maxHistory>
            <totalSizeCap>200MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <springProfile name="cronjob">
        <logger name="com.rama.mudstock.scheduler.EarningsDateScheduler" level="INFO" additivity="false">
            <appender-ref ref="EARNINGS_FILE" />
            <appender-ref ref="CONSOLE" />
        </logger>

        <logger name="com.rama.mudstock.scheduler.DayEventScheduler" level="INFO" additivity="false">
            <appender-ref ref="DAYEVENT_STOCK_DATA_FILE" />
            <appender-ref ref="CONSOLE" />
        </logger>

        <logger name="com.rama.mudstock.scheduler.DayEventCleanupScheduler" level="INFO" additivity="false">
            <appender-ref ref="DAYEVENT_CLEANUP_FILE" />
            <appender-ref ref="CONSOLE" />
        </logger>

        <logger name="com.rama.mudstock.scheduler.EveryDayWatchlistEventScheduler" level="INFO" additivity="false">
            <appender-ref ref="EVERY_DAY_EVENT_FILE" />
            <appender-ref ref="CONSOLE" />
        </logger>

        <logger name="com.rama.mudstock.scheduler.WeeklyUpcomingEarningCronjob" level="INFO" additivity="false">
            <appender-ref ref="WEEKLY_UPCOMING_EARNINGS_FILE" />
            <appender-ref ref="CONSOLE" />
        </logger>

        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>

    <springProfile name="!cronjob">
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>
</configuration>
